body {
  font-family: sans-serif;
  background-color: rgb(163, 229, 231);
 
  margin: 0;
  padding: 50px;
}

.app {
  max-width: 500px;
  margin: 0;
 background: linear-gradient(#219abe, #34cfba);
  padding: 40px;
  border-radius: 52px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.451);
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 20;
  font-style: normal;
  
}

form {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  
}

input, select, button {
  
  padding: 11px;
  border-radius: 12px;
  border: 1px solid white;
}

button {
  background-color: #ccffcc;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}
 
li {
  display: flex;
  justify-content: space-between;
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}
