body {
  font-family: sans-serif;
  background-color: rgb(163, 229, 231);
 
  margin: 0;
  padding: 50px;
}

.app {

  width: 100%;
  max-width: 900px;
  margin: 0;
  background: linear-gradient(#219abe, #34cfba);
  padding: 40px;
  border-radius: 52px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.451);
}


h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 20;
  font-style: nortrynhyut54zmal;
   letter-spacing: 8px;
    font-size: 80px;
     text-shadow: 1px 1px 1px rgb(0, 0, 0);
  
}

img {

  clip-path: circle(50%); 
  width: 70px;
  height: 70px;
 
}

form {

  display: flex;
  gap: 40px;
  margin-bottom: 30px;

}

input, select, button {
  
  padding: 11px;
  border-radius: 12px;
  background: #423d3d32;
  border: 1px solid white;
  
}

button {
  background-color: #ccffcc;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #94d298;
}

ul {
  list-style: none;
  padding: 0;
  
}
 
li {
  display: flex;
  justify-content: space-between;
  background: #423d3d32;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
}
/* Dark Mode Button Container */
.dark {
    position: fixed; 
    top: 80px; 
    right: 90px; 
    z-index: 1000; 
   
}

/* Dark Mode Button Styling */
.dark button {
    padding: 10px 20px; 
    background-color: #373333; 
    color: white;
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px; 
    border-color: #dedcdcd6;                                          
}

.dark button:hover {
    background-color: #555; 
}




/* Dark Mode Styles */
:root {
    --bg-color-light: rgb(188, 199, 161);
    --text-color-light: #000000;
    --bg-color-dark: #111827;
    --text-color-dark: #e0e0e0;
}

/* Default Light Mode */
body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}


.done {
  text-decoration: line-through;
  opacity: 0.6;
}
/* RESPONSIVE hehehe */
.app {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

form {
  flex-wrap:wrap;
}
@media (max-width: 600px) {
  form {
    flex-direction: column;
    gap: 15px;
  }

  input, select, button {
    width: 100%;
  }
  li {
    flex-direction: column;
    gap: 10px;
  }

  .dark {
    top: 20px;
    right: 20px;
  }
}